/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Yi Ren
 */
.slide_show_languagechoose_button{
    -fx-background-color: rgb(255, 178, 102);
}
.slide_show_text_style{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 15px;
    
}

.slide_show_toolPane{
   -fx-hgap: 5px;
   -fx-vgap: 1px;
   -fx-background-color: rgb(255, 255, 100); 
}
.slide_show_ssmPane{
    -fx-background-color: rgb(255, 255, 200);
}
.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 100);
    -fx-border-color: rgb(255, 255, 0);
    -fx-alignment: CENTER;
    -fx-spacing: 5px;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255, 255, 150);
    -fx-border-color: rgb(255, 255, 0);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}
.slide_edit_selected_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255, 200, 0);
    -fx-border-color: rgb(70, 70, 70);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-background-color: rgb(255, 178, 102);
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-background-color: rgb(255, 178, 102);
}
